body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#122620;
}

#topnav {
  overflow: hidden;
  background-color: #D6AD60;
}

#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 70px 70px;
  text-decoration: none;
  font-size: 17px;
}

#topnav a:hover {
  background-color: #ddd;
}
